<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @user.id %>
</p>
 


<% if current_user %>
  <%= link_to 'Log Out', sessions_path, method: :delete %>
<% end %> 
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', books_path %>
