<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<% if current_user %>
  <%= link_to 'Log Out', sessions_path, method: :delete %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>URL:</strong>
  <%= @book.url %>
</p>

<p>
  <strong>User_ID:</strong>
  <%= @book.user_id %>
</p>

 
<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Back', books_path %>

